name: dev CI

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build . --file Dockerfile --tag twodrive-front:latest

      - name: Run Docker container
        run: docker run -d -p 8080:80 twodrive-front:latest

      - name: wait for container to start
        run: sleep 60

      - name: Test
        run: |
          docker ps -a
          curl http://localhost:8080
